<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>CALA ROCIO</title>
</head>
<body>
  <h1>Menu TP1</h1>
 <ul>
   <li><a href="/Factorial?num=5">Factorial</a></li>
   <li><a href="/Bisiesto?num=2020">¿Año Bisiesto?</a></li>
   <li><a href="/Par?num=7">¿Par O impar?</a></li>
   <li><a href="/Mes?num=12">Mes</a></li>
   <li><a href="/NotaAlumno?num=8">Nota del Alumno</a></li>
   <li><a href="/Secuencial2?num=0">Secuencia 2</a></li>
   <li><a href="/Secuencial3?num=320">Secuencia 3</a></li>
   <li><a href="/Secuencial4?num=320">Secuencia 4</a></li>
   <li><a href="/Secuencial5?num=320">Secuencia 5</a></li>
   <li><a href="/Tiempo?num=6">Formula para saber en cuanto tiempo caera un objeto a determinada altura</a></li>
 </ul>
</body>
</html>