<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PAR</title>
</head>
<body>
  <h1>¿Par o Impar?</h1>
  <h2>1)el numero es <span th:text ="${par1}"></span></h2>
  <h2>2)el numero es <span th:text ="${par2}"></span></h2>
  <h2>3)el numero es <span th:text ="${par3}"></span></h2>
  <h2>4)el numero es <span th:text ="${par4}"></span></h2>
  <h2>5)el numero es <span th:text ="${par5}"></span></h2>
  <a href="Menu">Volver al menu</a>
</body>
</html>